/* components/Timeline.module.css */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    margin-bottom: 50px;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: hsl(var(--foreground));
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
  }
  
  .container {
    padding: 10px 8px;
    position: relative;
    background-color: hsl(var(--accent));
    width: 50%;
    opacity: 0;
    color: hsl(var(--foreground));
    animation: fadeIn 0.5s forwards;
    border-radius: 15px;
  }

  .container:hover {

   

 
    box-shadow: 0 4px 10px var(--card-foreground);

    border: 1px solid var(--card-foreground);

    

  }
  
  .container.left {
    left: 0;
    margin-left: -10px;
  }
  
  .container.right {
    left: 50%;
    margin-left: 10px;
  }
  
  .container.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: -17px;
    border: medium solid hsl(var(--foreground));
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent hsl(var(--foreground));
  }
  
  .container.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: -17px;
    border: medium solid hsl(var(--foreground));
    border-width: 10px 10px 10px 0;
    border-color: transparent hsl(var(--foreground)) transparent transparent;
  }
  
  .content {
    
    background-color: hsl(var(--accent));
    position: relative;
    border-radius: 6px;
    box-shadow: 0 4px 10px var(--card-foreground);
  }
  
  .year {
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsl(var(--foreground));
    color: hsl(var(--background));
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 18px;
    z-index: 2;
  }
  
  .lyear {
    position: absolute;
 
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsl(var(--foreground));
    color: hsl(var(--background));
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 18px;
    z-index: 2;
  }
  .year.yleft {
    left: 112%;
  }
  
  .year.yright {
    left: -12%;
  }
  
  .image {
    width: 640px;
    height: 360px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .title {
    margin-top: 5px;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: hs(var(--foreground));
  }
  
  .description {
    font-size: 1em;
    margin-bottom: 10px;
    color: hsl(var(--primary));
  }
  
  .location {
    font-size: 0.9em;
    color: #555;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
.container:hover {
    transform: ease-in-out 0.5s;
  }
  
  .timeline-item {
    opacity: 0;
    transform: translateY(20px); /* Example animation: slide in from bottom */
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .timeline-item.visible {
    opacity: 1;
    transform: translateY(0);
  }


  @media screen and (max-width: 768px) {
    
  .year {
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsl(var(--foreground));
    color: hsl(var(--background));
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 18px;
    z-index: 2;
  }
  
  .year.yleft {
    left: 120%;
  }
  
  .year.yright {
    left: -20%;
  }
  
  }